.modalContainer{
    position: absolute;
    width: 320px;
    background: #fff;
    border: 1px solid #333;
    padding: 16px;
    border-radius: 5px;
}
.login-form,.register-form{
    text-align: center;
}

